// Import

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Défintion des variables

$primary-color: #ff6060;
$secondary-color: #000000;
$background-color: #ffffff;
$secondary-background-color: #f6f6f6;

// Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Définition des styles

// Style généraux

body {
  font-family: 'Montserrat';
  box-sizing: border-box;
  margin: 0;
}

#main-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}
