// Import

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Défintion des variables

$primary-color: #ff6060;
$secondary-color: #000000;
$background-color: #ffffff;
$secondary-background-color: #f6f6f6;

// Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Définition des styles

// Style généraux

body {
  font-family: 'Montserrat';
  box-sizing: border-box;
  margin: 0 50px;
}

// Style du header

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li {
  margin-left: 50px;
  font-size: 24px;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: #000000;
}

// Style pour la nav

.active {
  text-decoration: underline;
}

// Styles du bandeau

#bandeau {
  width: 100%;
  height: 223px;
  flex-direction: row;
  @include flex-center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./components/Bandeau/IMG.png');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

#bandeau h1 {
  display: inline;
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 68.45px;
}

// Styles de la galerie

.card {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin: 50px;
}

.card h3 {
  position: relative;
  top: 400px;
  left: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  white-space: normal;
  word-wrap: break-word;
  width: 200px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  margin-top: 50px;
  width: 100%;
  background-color: $secondary-background-color;
  border-radius: 25px;
}

.gallery-wrapper {
  display: flex;
  justify-content: center;
}

// Style du footer

footer img {
  width: 100%;
}

footer {
  margin-top: 50px;
}
