@import '../../App.scss';

h1 {
  font-size: 36px;
  font-weight: 500;
  color: $primary-color;
  margin-bottom: 0;
}

.location {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

.tag-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;

  p {
    margin: 0;
  }
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.idstar-wrapper {
  margin-top: 25px;
}

.tab2-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-wrapper {
  width: 45%;
}

.stuff-wrapper {
  width: 45%;

  .tab-text div {
    margin-top: 5px;
    margin-top: 5px;
  }
}
