@import '../../App.scss';

// Style du footer

footer {
  display: block;
  justify-content: center;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding: 0;
  text-align: center;
  margin-left: 0;
  margin-right: 0;

  img {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}
